*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.hcff6700:hover{
    color: #ff6700;
}
.hbgff6700:hover{
    background: #ff6700;
}
.cff6700{
    color: #ff6700;
}
.bgff6700{
    background: #ff6700;
}
.text_center{
    text-align: center;
}
.font_bold{
    font-weight: bold;
}
.font_italic{
    font-style: italic;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt40{
    margin-top: 40px;
}
.mt50{
    margin-top: 50px;
}
.ml10{
    margin-left: 10px;
}
.ml20{
    margin-left: 20px;
}
.ml30{
    margin-left: 30px;
}
.ml40{
    margin-left: 40px;
}
.ml50{
    margin-left: 50px;
}
.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.mb40{
    margin-bottom: 40px;
}
.mb50{
    margin-bottom: 50px;
}
.mr10{
    margin-right: 10px;
}
.mr20{
    margin-right: 20px;
}
.mr30{
    margin-right: 30px;
}
.mr40{
    margin-right: 40px;
}
.mr50{
    margin-right: 50px;
}
.fz12{
    font-size: 12px;
}
.fz14{
    font-size: 14px;
}
.fz18{
    font-size: 18px;
}
.fz20{
    font-size: 20px;
}
.fz22{
    font-size: 22px;
}
.fz24{
    font-size: 24px;
}
.fz26{
    font-size: 26px;
}
.cred{
    color: red;
}
.mcenter{
    margin: 0 auto;
}
.dblock{
    display: block;
}
.dnone{
    display: none;
}
.dflex{
    display: flex;
}
.c333{
    color: #333;
}
.justify_content_between{
    justify-content: space-between;
}
.w168h46{
    width: 168px;
    height: 46px;
}
.w46h46{
    width: 46px;
    height: 46px;
}
.w15h46{
    width: 15px;
    height: 46px;
}
.bg605751{
    background: #605751;
}
.lh46{
    line-height: 46px;
}
.cwhite{
    color: white;
}
.w200h200{
    width: 200px;
    height: 200px;
}
.caaa{
    color: #aaa;
}
.del{
    text-decoration: line-through;
}
.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.w150h143{
    width: 150px;
    height: 143px;
}
.w94h21{
    width: 94px;
    height: 21px;
}
a{
    color: #424242;
}
.w80h80{
    width: 80px;
    height: 80px;

}
.w294h44{
    width: 290px;
    height: 44px;;
}
.p10_20{
    padding:0 20px;
}
.w334h44{
    width: 334px;
    height: 44px;
}
.bd0{
    border: none;
}
.pointer{
    cursor: pointer;
}
.bgwhite{
    background: #fff;
}
.bdblack{
    border: 1px solid black;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.t0l0{
    top: 0;
    left: 0;
}

.float_left{
    float: left;
}
.float_right{
    float: right;
}
@media screen and (min-width:1301px){
    .iframe_footer{
        width: 100%;
        height: 300px;
    }
    .iframe_header{
         width: 100%;
         height: 380px;
     }
}
@media screen and (max-width:1300px){
    .iframe_footer{
        width: 1300px;
        height: 300px;
    }
    .iframe_header{
        width: 1300px;
        height: 380px;
    }
}

.hcwhite:hover{
    color: #fff;
}
.bgf5f5f5{
    background: #f5f5f5;
}
.w1300{
    width: 1300px;
}
.w250{
    width: 250px;
}
.w100{
    width: 100%;
}
.weight_normal{
    font-weight: normal;
}
.list_none{
    list-style: none;
}
.p20_40{
    padding: 20px 40px;
}
.p10_0{
    padding: 10px 0;
}
.c888{
    color: #888;
}
.hc000:hover{
    color: #000;
}
.w1000{
    width: 1000px;
}
.w900{
    width: 900px;
}
.w580{
    width: 580px;
}
.p50_0{
    padding: 50px 0;
}
.bdradius{
    border-radius: 50%;
}
.w150h150{
    width: 150px;
    height: 150px;
}
.bdbddd{
    border-bottom:1px solid #ddd;
}
.w320{
    width: 320px;
}
.outlinenone{
    outline: none;
}
.h20{
    height: 20px;;
}
.flex_wrap{
    flex-wrap: wrap;
}
.w300{
    width: 300px;
}
.w100px{
    width: 100px;
    height: 100px;
}
.w1000h450{
    width: 1000px;
    height: 450px;
}
.bdaaa{
    border:1px solid #aaa;
}
.bdr5{
    border-radius:5px;
}
.overflow_hidden{
    overflow: hidden;
}
.m100auto{
    margin:100px auto 0;
}
.cskyblue{
    color: deepskyblue;
}
.w600{
    width: 600px;
}
.bdff6700{
    border: 1px solid #ff6700;
}
.w280h80{
    margin: 0 auto;
    width: 280px;
    height: 80px;
    border-bottom: 1px solid #aaa;
}
.w150h50{
    width: 150px;
    height: 50px;
    line-height: 25px;
    margin-top: 15px;
}
.w130h50{
    width: 130px;
    height: 50px;
    margin-top: 15px;
    text-align: center;
}
.inline_block{
    display: inline-block;
}
@keyframes change {
    from{
        height:0;
    }
    to{
        height:100px;
    }
}
@keyframes change3 {
    from{
        height:0;
    }
    to{
        height:300px;
    }
}
@keyframes change4 {
    from{
        height:100px;
    }
    to{
        height:0
    }
}
@keyframes change5 {
    from{
        height:300px;
    }
    to{
        height:0;
    }
}